# Discord
DISCORD_TOKEN=

# Steam (Default fallback values for users who haven't used /setcountry or /setlanguage)
STEAM_COUNTRY=cl
STEAM_LANGUAGE=es

# Bot configuration
CHECK_INTERVAL_HOURS=6
DEFAULT_MIN_DISCOUNT=50
