# Discord
DISCORD_TOKEN=

# Default fallback values for users who haven't used /setcountry or /setlanguage
STEAM_COUNTRY=cl
STEAM_LANGUAGE=es

# Epic (Optional overrides, defaults to STEAM_COUNTRY and STEAM_LANGUAGE if not set)
# EPIC_COUNTRY=cl
# EPIC_LANGUAGE=es

# Bot configuration
CHECK_INTERVAL_HOURS=6
DEFAULT_MIN_DISCOUNT=50
